<ion-header>
  <ion-navbar  >
    <ion-title class="t1">
.....
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="t1">

  <h2 class="n">iQuiz</h2>

  <h2><img src="./assets/imgs/q2.png" width="300"height="200"></h2>

  <label class="t" for ="quizzOption"> pick a category:</label>

  <select [(ngModel)]="selectedQuiz">
    <option *ngFor="let b of quizzOption, let i=index">{{quizzOption[i]}}</option>

  </select>
  <div *ngIf="selectedQuiz=='sports'">
  <ion-list radio-group [(ngModel)]="checkSports1">
      <ion-label class="p">1. which football team bought Christiano?</ion-label>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>JUVENTUS</ion-label>
        <ion-radio value="juveteam" checked></ion-radio>
      </ion-item>

      <ion-item class="t2" no-lines no-padding>
          <ion-label class="p">BARCELONA</ion-label>
          <ion-radio value="BARteam" checked></ion-radio>
        </ion-item>

</ion-list>

<ion-list radio-group [(ngModel)]="checkSports2">
    <ion-label class="p">2. who has the most goals in footbal history?</ion-label>
  <ion-item class="t2" no-lines no-padding >
      <ion-label>PELE</ion-label>
      <ion-radio value="peleteam" checked></ion-radio>
    </ion-item>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>RONALDO</ion-label>
        <ion-radio value="ronaldoteam" checked></ion-radio>
      </ion-item>
      
      
</ion-list>



<ion-list radio-group [(ngModel)]="checkSports3">
    <ion-label class="p">3. Who is the coach of Real Madrid?</ion-label>
  <ion-item class="t2" no-lines no-padding>
      <ion-label>JULEN</ion-label>
      <ion-radio value="julenteam" checked></ion-radio>
    </ion-item>
    <ion-item class="t2" no-lines no-padding>

        <ion-label>ZIDANE</ion-label>
        <ion-radio value="zidaneteam" checked></ion-radio>
      </ion-item>
      
      
</ion-list>


<ion-list radio-group [(ngModel)]="checkSports4">
    <ion-label class="p">4. Which team does Thuso Phala play for?</ion-label>
  <ion-item class="t2" no-lines no-padding>
      <ion-label>CHIEFS</ion-label>
      <ion-radio value="chiefsteam" checked></ion-radio>
    </ion-item>

    <ion-item class="t2" no-lines no-padding>

        <ion-label>BLOEMFONTEIN</ion-label>
        <ion-radio value="bloemteam" checked></ion-radio>
      </ion-item>
      
      
</ion-list>

<ion-list radio-group [(ngModel)]="checkSports5">
    <ion-label class="p">5. Who did suarez bite in 2014 world cup?</ion-label>
  <ion-item class="t2" no-lines no-padding>
      <ion-label>JOSE</ion-label>
      <ion-radio value="joseteam" checked></ion-radio>
    </ion-item>
    <ion-item class="t2" no-lines no-padding>

        <ion-label>GIORGIO</ion-label>
        <ion-radio value="giorgioteam" checked></ion-radio>
      </ion-item>
      
      <ion-item class="t1" no-lines no-padding>
          <p>Your have: {{totalscore1}} points</p>
          
      </ion-item>
    <button ion-button color="light" (click)=" totalCat1()">score</button>
   
</ion-list>

</div>

<div *ngIf="selectedQuiz=='movies'">
    <ion-list radio-group [(ngModel)]="checkmovies1">
        <ion-label class="p">1. who stars in kill Bill?</ion-label>
      <ion-item class="t2" no-lines no-padding>
          <ion-label>UMA</ion-label>
          <ion-radio value="ums" checked></ion-radio>
        </ion-item>
        <ion-item class="t2" no-lines no-padding>
            <ion-label>CHARLIZE</ion-label>
            <ion-radio value="char" checked></ion-radio>
          </ion-item>
  
  </ion-list>
  
  <ion-list radio-group [(ngModel)]="checkmovies2">
      <ion-label class="p">2.Which rapper stars in Italian Job?</ion-label>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>MOSDEF</ion-label>
        <ion-radio value="mos" checked></ion-radio>
      </ion-item>
      <ion-item class="t2" no-lines no-padding>
  
          <ion-label>CUBE</ion-label>
          <ion-radio value="cu" checked></ion-radio>
        </ion-item>
        
        
  </ion-list>
  
  
  
  <ion-list radio-group [(ngModel)]="checkmovies3">
      <ion-label class="p">3.Who survives in Set it off?</ion-label>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>CLEO</ion-label>
        <ion-radio value="cle" checked></ion-radio>
      </ion-item>
      <ion-item class="t2" no-lines no-padding>
  
          <ion-label>STONEY</ion-label>
          <ion-radio value="sto" checked></ion-radio>
        </ion-item>
        
        
  </ion-list>
  
  
  <ion-list radio-group [(ngModel)]="checkmovies4">
      <ion-label class="p">4. which comedian stars in Secret life of pets?</ion-label>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>KHART</ion-label>
        <ion-radio value="hart" checked></ion-radio>
      </ion-item>
      <ion-item class="t2" no-lines no-padding>
  
          <ion-label>KWILLIAMS</ion-label>
          <ion-radio value="williams" checked></ion-radio>
        </ion-item >
        
        
  </ion-list>
  
  <ion-list radio-group [(ngModel)]="checkmovies5">
      <ion-label class="p">5. Which actor of fast and furious died ?</ion-label>
    <ion-item class="t2" no-lines no-padding>
        <ion-label>VIN</ion-label>
        <ion-radio value="vind" checked></ion-radio>
      </ion-item>
      <ion-item class="t2" no-lines no-padding>
  
          <ion-label>PAUL</ion-label>
          <ion-radio value="paulw" checked></ion-radio>
        </ion-item>
        
        <ion-item class="t1" no-lines no-padding>
            <p>Your have: {{totalscore2}} points</p>
            
        </ion-item>
      
        <button ion-button color="light" (click)=" totalCat2()">score</button >
  </ion-list>
  
             
  </div>
  <div *ngIf="selectedQuiz=='politics'">
      <ion-list radio-group [(ngModel)]="checkpolitics1">
          <ion-label class="p">1. Who is Duduzane's father?</ion-label>
        <ion-item class="t2" no-lines no-padding> 
            <ion-label>ZUMA</ion-label>
            <ion-radio value="zu" checked></ion-radio>
          </ion-item>
          <ion-item class="t2" no-lines no-padding>
              <ion-label>MANDELA</ion-label>
              <ion-radio value="man" checked></ion-radio>
            </ion-item>
    
    </ion-list>
    
    <ion-list radio-group [(ngModel)]="checkpolitics2">
        <ion-label class="p">2. Who is the president of Zimbabwe?</ion-label>
      <ion-item class="t2" no-lines no-padding >
          <ion-label>MUGABE</ion-label>
          <ion-radio value="mug" checked></ion-radio>
        </ion-item>

      <ion-item class="t2" no-lines no-padding >
            <ion-label>EMMERSON</ion-label>
            <ion-radio value="emm" checked></ion-radio>
          </ion-item>
          
          
    </ion-list>
    
    
    
    <ion-list radio-group [(ngModel)]="checkpolitics3">
        <ion-label class="p">3.Who was the president of South Africa before Mandela?</ion-label>
      <ion-item class="t2" no-lines no-padding >
     
          <ion-label>BOTHA</ion-label>
          <ion-radio value="both" checked></ion-radio>
        </ion-item>
        <ion-item class="t2" no-lines no-padding >
    
            <ion-label>DEKLERK</ion-label>
            <ion-radio value="dek" checked></ion-radio>
          </ion-item>
          
          
    </ion-list>
    
    
    <ion-list radio-group [(ngModel)]="checkpolitics4">
        <ion-label class="p">4. which former president of SA is uneducated?</ion-label>
      <ion-item class="t2" no-lines no-padding >
          <ion-label>JZUMA</ion-label>
          <ion-radio value="jz" checked></ion-radio>
        </ion-item>
        <ion-item class="t2" no-lines no-padding >
    
            <ion-label>MBEKI</ion-label>
            <ion-radio value="mbe" checked></ion-radio>
          </ion-item>
          
          
    </ion-list>
    
    <ion-list radio-group [(ngModel)]="checkpolitics5">
        <ion-label class="p">5.who is the most educated president in the whole world?</ion-label>
      <ion-item class="t2" no-lines no-padding >
          <ion-label>RMUGABE</ion-label>
          <ion-radio value="rmu" checked></ion-radio>
        </ion-item>
        <ion-item class="t2" no-lines no-padding >
    
            <ion-label>OBAMA</ion-label>
            <ion-radio value="oba" checked></ion-radio>
          </ion-item>
          
          <ion-item class="t1" no-lines no-padding>
              
              <p>Your have: {{totalscore3}} points</p>
          </ion-item>
          <button ion-button color="light" (click)=" totalCat3()">score</button>
    </ion-list>
    
    
              
    
    </div>

  
</ion-content>
